@custom-media --mobile screen and (min-resolution: 120dpi) and (width < 1081px)
@custom-media --desktop all and (width > 1080px), (max-resolution: 119dpi)

@define-mixin center-vertical
    position: fixed
    top: 50%
    left: 0
    transform: translate(0, -50%)
