// color

$color-main: #6e6e6e
$color-main-mobile: #000
//$color-main: #000
$color-title: #0046aa
$color-title-negative: #c80000
$color-header: white

$color-reading-font: #292929

//font-weight

$light: 300
$regular: 400
$medium: 500
$semi-bold: 600
$bold: 700
