{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article>
			<section class="article-content">
                <div class="article-body rkg-nopas">
                    <h1 class="article-h1">Izgubio si se u morskim dubinama!</h1>
                    <p>Vrijeme je za izron!!</p>
                    <p>
                        <a class="rkg-button" href="{{ function('home_url') }}">PoÄetna stranica</a>
                    </p>
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
