<div class="rkg-footer">
    <div class="rkg-footer-gradient">
        <div class="rkg-footer-title">
            <p>
                Zanima te još nešto?
            </p>
            <p>
                Pridruži nam se na klupskom sastanku!
            </p>
        </div>
        <div class="rkg-footer-text">
            <p>
                Sastanci se održavaju u prostorijama kluba
                <a target="_blank" href="https://www.google.com/maps/place/45%C2%B048'30.2%22N+15%C2%B057'05.9%22E/@45.8083981,15.9508722,18z">(lokacija)</a>,
                svaki četvrtak od 20 sati.<br />
                Dostupni smo i putem maila i društvenih mreža.
            </p>
        </div>
        <div class="rkg-footer-external">
            <a href="mailto:rkgeronimo@rkgeronimo.hr"><i class="fas fa-envelope"></i></a>
            <a href="https://www.facebook.com/ronilackiklub.geronimo/"><i class="fab fa-facebook-square"></i></a>
            <a href="http://instagram.com/ronilackiklubgeronimo?ref=badge"><i class="fab fa-instagram-square"></i></a>
            <a href="https://www.youtube.com/user/GeronimoDiving"><i class="fab fa-youtube"></i></a>
        </div>
        <div class="rkg-footer-copy">
            Copyright &copy; 2008 - {{"now"|date('Y')}} Ronilački klub Geronimo. Sva prava pridržana.
        </div>
    </div>
</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/salvattore/1.0.9/salvattore.min.js" integrity="sha256-7DszDogKBCAj+K9LUttX3pnQ04gZkAwbnvjGx8O2KjA=" crossorigin="anonymous"></script>
