{% block content %}
    <div class="wrap">
        <h1 id="add-new-inventory">Dodaj novi komad opreme</h1>

        {% if request.post is not empty %}
            {% if error == false %}
                <div id="message" class="updated notice is-dismissible"><p>Dodan je novi komad opreme.</p><button type="button" class="notice-dismiss"><span class="screen-reader-text">Isključi ovu napomenu.</span></button></div>
            {% else %}
                <div id="message" class="updated error is-dismissible"><p>Došlo je do greške prilikom spremanja. Provjeri da ne postoji već oprema s istom šifrom.</p></div>
            {% endif %}
        {% endif %}
        
        <form method="post" name="createuser" id="createuser" class="validate" novalidate="novalidate">
            <input name="action" type="hidden" value="createInventoryItem">
            <table class="form-table">
                <tbody>
                    <tr class="form-field">
                        <th scope="row"><label for="id">Šifra opreme</label></th>
                        <td><input name="id" type="text" id="user_login" value="" aria-required="true" autocapitalize="none" autocorrect="off" maxlength="60"></td>
                    </tr>
                    <tr class="form-field">
                        <th scope="row"><label for="type">Vrsta opreme</label></th>
                        <td><select name="type" id="type">
                                {% for key, type in typeTranslation %}
                                    <option value="{{ key }}" {{ (key == itemEdit.type) ? 'selected' : '' }}>{{ type }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr class="form-field">
                        <th scope="row"><label for="size">Veličina</th>
                        <td><input name="size" type="text" id="size" value="" aria-required="true" autocapitalize="none" autocorrect="off" maxlength="60"></td>
                    </tr>
                </tbody>
            </table>


            <p class="submit"><input type="submit" name="createinventoryitem" id="createinventoryitem" class="button button-primary" value="Dodaj novi komad opreme"></p>
        </form>
    </div>
{% endblock %}
